<a href="https://colab.research.google.com/github/Rushabh2499/CodersWeek-ML/blob/master/MovieSuggestions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Old Movie Recommendation

In [0]:
#import lib
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [0]:
#upload data
from google.colab import files
uploads = files.upload()

Saving data_movies.csv to data_movies (1).csv

In [0]:
#store date
dataset = pd.read_csv('data_movies.csv', encoding='latin-1')

dataset.head(3)

       budget                        company  ...        writer  year
0   8000000.0  Columbia Pictures Corporation  ...  Stephen King  1986
1   6000000.0             Paramount Pictures  ...   John Hughes  1986
2  15000000.0             Paramount Pictures  ...      Jim Cash  1986

[3 rows x 15 columns]

In [0]:
#imp cols
columns=['name','genre','company','director','writer','votes']
impdata=dataset[columns]
impdata.head(3)

                       name      genre  ...        writer   votes
0               Stand by Me  Adventure  ...  Stephen King  299174
1  Ferris Bueller's Day Off     Comedy  ...   John Hughes  264740
2                   Top Gun     Action  ...      Jim Cash  236909

[3 rows x 6 columns]

In [0]:
impdata.isnull().values.any()

False

In [0]:
#put impdata in single string
def get_impdata(data):
  imp_features = []
  for i in range(0,data.shape[0]):
    imp_features.append(data['name'][i]+' '+data['genre'][i]+' '+data['company'][i]+' '+data['director'][i]+' '+data['writer'][i]+' '+str(data['votes'][i]))

  return imp_features
  
#insert imp_fearures in dataset
dataset['important_features'] = get_impdata(dataset)
dataset.head(3)

       budget  ...                                 important_features
0   8000000.0  ...  Stand by Me Adventure Columbia Pictures Corpor...
1   6000000.0  ...  Ferris Bueller's Day Off Comedy Paramount Pict...
2  15000000.0  ...  Top Gun Action Paramount Pictures Tony Scott J...

[3 rows x 16 columns]

In [0]:
 #convert to token counts
 cm = CountVectorizer().fit_transform(dataset['important_features'])
 cm

<6820x19272 sparse matrix of type '<class 'numpy.int64'>'
	with 71563 stored elements in Compressed Sparse Row format>

In [0]:
#get cosine similarity matrix
cs = cosine_similarity(cm)
cs

array([[1.        , 0.07216878, 0.09128709, ..., 0.        , 0.        ,
        0.        ],
       [0.07216878, 1.        , 0.15811388, ..., 0.        , 0.        ,
        0.        ],
       [0.09128709, 0.15811388, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.06262243,
        0.12171612],
       [0.        , 0.        , 0.        , ..., 0.06262243, 1.        ,
        0.22866478],
       [0.        , 0.        , 0.        , ..., 0.12171612, 0.22866478,
        1.        ]])

In [0]:
cs.shape

(6820, 6820)

In [0]:
#get title of movie liked
title = "Batman: The Killing Joke"

#find movie id
movie_id = dataset[dataset.name == title].index[0]
movie_id

6817

In [0]:
#get a list of similarity scores
scores = list(enumerate(cs[movie_id]))
sorted_scores = sorted(scores,key = lambda x:x[1],reverse=True)
sorted_scores = sorted_scores[1:]

In [0]:
#create loop to print names
j=0
print("The top 7 recommendations for",title,"are:\n")
for item in sorted_scores:
  movie_title = dataset[dataset.index==item[0]]['name'].values[0]
  print(j+1, movie_title)
  j=j+1
  if j>6:
    break

The top 7 recommendations for Batman: The Killing Joke are:

1 Batman: Mask of the Phantasm
2 The Iron Giant
3 The Tigger Movie
4 Over the Hedge
5 Shrek the Third
6 The Croods
7 The Prince of Egypt